
html,
body {
  height: 100%;
}

.app {
  display: flex;
  flex-direction: column;
  min-height: 100dvh; 
  min-height: 100vh;  
}

.app-main {
  flex: 1; 
}

.project-footer {
  margin-top: auto; 
}
